#root {
}
html,
body {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;

  background: url("./assets/background-400.png") no-repeat center center;
  background-size: cover;
  background-position: top center;
  font-family: "Jost", sans-serif;
  padding: 0;
  margin: 0;
}

.nav {
  display: flex;
  justify-content: center;
}
.logo {
  padding: 20px;
  width: 200px;
}
.take-a-moment-container {
  margin-bottom: 20px;
}
.take-a-moment {
  opacity: 0;
  transition: opacity 2s ease-in-out;
  color: #f5f5f5;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
}
.fading {
  opacity: 1;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.highlight-max {
  color: #cc4848;
  font-weight: 600;
}

h4 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
}
.progress-selection {
  width: 120px;
  height: 15px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3),
    0 1px 3px rgba(255, 255, 255, 0.4) inset;
  margin-top: 5px;
  border: none;
  background-color: #f5f5f5;
  color: #cc4848;
  align-self: flex-end;
  justify-self: flex-start;
  margin-left: 35px;
}
.progress-selection::-webkit-progress-value {
  background-color: #cc4848;
  border-radius: 5px;
  transition: width 1.5s ease-in-out;
}
.progress-main {
  width: 100px;
  height: 15px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3),
    0 1px 3px rgba(255, 255, 255, 0.4) inset;
  margin-top: 5px;
  border: none;
  background-color: #f5f5f5;
  color: #cc4848;
  margin-bottom: 30px;
}
.progress-main::-webkit-progress-value {
  background-color: #cc4848;
  border-radius: 5px;
  transition: width 1.5s ease-in-out;
}

.progress-main::-moz-progress-bar {
  background-color: #cc4848;
  transition: width 1.5s ease-in-out !important;
}
progress::-webkit-progress-bar {
  background-color: #e0e0e0;
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3),
    0 1px 3px rgba(255, 255, 255, 0.4) inset;
}

progress::-webkit-progress-value {
  background-color: #cc4848 !important;
  border-radius: 5px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3),
    0 1px 3px rgba(255, 255, 255, 0.4) inset;
}
progress::-webkit-progress-value {
  background-color: #cc4848 !important;
}

progress::-moz-progress-bar {
  background-color: #cc4848 !important;
}

progress::-ms-fill {
  background-color: #cc4848 !important;
}
.main-selection-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.amount-selected-text {
  align-self: start;
  padding-left: 40px;
}
.progress-random {
  display: flex;
  align-items: flex-end;
}
.random-button {
  background: none;
  border: 1px solid #f5f5f5;
  color: #f5f5f5;
  width: 90px;
  height: 40px;
  font-size: 12px;
  margin-left: 10px;
  padding: 5px;
  padding-bottom: 10px;
}
button {
  font-family: "Jost", sans-serif;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3),
    0 1px 3px rgba(255, 255, 255, 0.4) inset;
  border-radius: 8px;
  color: white;
  border: none;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  padding: 0;
  border: none;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  font-size: 0.7rem;
  font-weight: 600;
  text-align: center;
}
.button {
  display: grid;
  grid-template-columns: 25px 70px;

  align-items: center;
}
.button-label {
  justify-self: start;
}
.icon {
  justify-self: center;
  align-self: center;
  margin-bottom: 8px;
}

.button-selected {
  border: 3px solid #f5f5f5;

  transform: scale(1.1);
  transition: 1.2s;
}
.tap-info {
  color: #f5f5f5;
  text-align: center;
  font-weight: 200;
  font-size: 0.8rem;
  margin: 0;
  padding-bottom: 5px;
}
.button-selected-modal {
  border: 3px solid #f5f5f5 !important;
  transform: scale(1.1);
  transition: 1.2s;
  box-sizing: content-box;
  overflow: visible;
}
.second-button-selected {
  border-radius: 8px;
  border: none;
}
Button:active {
  background: none;
}
.button-section {
  display: grid;
  grid-template-columns: repeat(3, 100px);

  gap: 22px;
  row-gap: 20px;

  justify-content: center;
}
.user-modal-buttons {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #272727;

  height: 100px;
  display: flex;
  justify-content: space-around;
  padding: 10px;

  will-change: transform;
  padding-left: 0px;
  padding-right: 0px;
}
.second-buttons {
  border: none;
  border-radius: 8px;
  width: 100px;
  height: 45px;
  font-size: 0.7rem;
  font-weight: 600;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3),
    0 1px 3px rgba(255, 255, 255, 0.4) inset;
}

.custom-button {
  grid-area: 4/3;
  background-color: #f5f5f5;
  color: #272727;
  font-weight: 300;
}
.section-divider {
  display: flex;
  justify-content: center;
}

.down-arrow-container {
  margin-top: 50px;
  width: 50px;
  height: 50px;
  margin-bottom: 50px;
}

@keyframes jumpTwice {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-8px);
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-12px);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.down-arrow {
  animation: jumpTwice 1.5s ease-in-out infinite;
  animation-delay: 2s;
}
.section-divider {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.section-divider.fade-in {
  opacity: 1;
}

.section-divider.fade-out {
  opacity: 0;
}

.second-section-title {
  font-size: 0.9rem;
  font-weight: 500;
  width: fit-content;
  text-align: center;
}
.second-section-title-world {
  min-width: 142px;
  font-size: 1rem;
  font-weight: 500;
  width: fit-content;
}
.from-me {
  font-size: 1rem;
}
.second-section-title-expects {
  display: flex;
  align-items: flex-end;
}

.drop-box {
  height: 60px;
  width: 100px;
  background: none;
  border: 1px solid rgb(126, 126, 126);
  border-radius: 8px;
}
.drop-box-text {
  height: 50px;
  width: 100px;
  background: none;
  border: 1px solid rgb(126, 126, 126);
  border-radius: 8px;
  text-align: center;
  align-self: flex-end;
  font-size: 1rem;
}

.dropped-button {
  margin: 0;
  padding: 0;

  cursor: pointer;
}
.grid-reflection-1 {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: 200px auto 50px;
  margin-bottom: 20px;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}
.grid-reflection-2 {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: 200px auto 50px;
  margin-bottom: 20px;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}
.grid-reflection-3 {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: 200px auto 50px;
  margin-bottom: 20px;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}
.section-status-1 {
  margin: 0;
  grid-column: 1 / span 2;
  grid-row: 3;
  text-align: center;
  font-size: 0.8rem;
  align-self: flex-end;
  justify-self: center;
}
.section-status-2 {
  margin: 0;
  grid-column: 1 / span 2;
  grid-row: 3;
  text-align: center;
  font-size: 0.8rem;
  align-self: flex-end;
  justify-self: center;
}
.section-status-3 {
  margin: 0;
  grid-column: 1 / span 2;
  grid-row: 3;
  text-align: center;
  font-size: 0.8rem;
  align-self: flex-end;
  justify-self: center;
}

.share-title {
  margin: 0;
  margin-bottom: 20px;
  width: 300px;
  text-align: center;
  align-self: center;
  font-size: 1rem;
  font-weight: 600;
}
.thanks-text-1 {
  width: 300px;

  text-align: center;
  align-self: center;
  font-weight: 200;
}
.second-section-title-wrap {
  grid-area: 1/1;
}
.button-grid-box {
  grid-area: 2/1;
}
.second-section-title-wrap {
  margin-top: 0px;
  grid-area: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  justify-self: flex-start;
  align-items: flex-start;
  min-width: 180px;
}
.second-section-title-wrap-2 {
  /* grid-area: 1/3; */
  grid-area: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}
h2 {
  padding: 0;
  margin: 0;
}
.reflections-title-container {
  display: flex;
  flex-direction: column;
}
.pop-red {
  color: #cc4848;
  font-size: 1.3rem;
}
.reflections-pop {
  font-size: 1.4rem;
  color: #cc4848;
  justify-self: center;
  align-self: flex-start;
  font-weight: 600;
}
.reflections-pop-expects {
  padding-left: 0px;
  font-size: 1.4rem;
  color: #cc4848;

  align-self: center;
  font-weight: 600;
}
.button-grid-box {
  display: grid;
  width: fit-content;
  grid-template-columns: repeat(1, 100px);
  grid-template-rows: repeat(1, 80px);
  gap: 0px;
  row-gap: 20px;

  justify-content: flex-start;
  align-items: center;
}
.button-grid-box-2 {
  grid-area: 2/2;
  display: grid;
  grid-template-columns: 100px;
  grid-template-rows: repeat(1, 80px);
  gap: 0px;
  row-gap: 20px;

  justify-content: flex-end;
  justify-self: end;

  align-items: center;
}
.button-container {
  height: 250px;
  margin-top: 10px;
  grid-column: 2;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.second-buttons:active {
  transform: scale(1.2);
}
.grid-button {
  border: 1px solid white;
}
.grid-button:hover {
  border: 1px solid white;
}
.insight-section {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.insight-buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}
.insight-buttons {
  margin-top: 15px;
  width: 50px;
  background-color: #f5f5f5;
}
.modal-insights {
  z-index: 1000;
  position: fixed;
  bottom: 200px;
  left: 0;
  right: 0;
  background-color: #f5f5f5;
  color: #363636;

  max-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  padding-bottom: 40px;
  font-size: 1.5rem;
  margin: 0;
  will-change: transform;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3),
    0 1px 3px rgba(255, 255, 255, 0.4) inset;
}
.final-thanks {
  z-index: 1000;
  position: fixed;
  bottom: 200px;
  left: 0;
  right: 0;
  width: 100%;
  align-self: center;
  justify-self: center;
  display: flex;
  justify-content: center;
  background-color: #272727;
  color: #f5f5f5;
  font-weight: 200;
  padding: 10px;
  font-size: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.thanks-text {
  align-self: center;
}

.modal-already-read {
  z-index: 1000;
  position: fixed;
  bottom: 200px;
  left: 0;
  right: 0;
  background-color: #272727;
  color: #f5f5f5;
  width: 100%;
  max-height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  text-align: center;
  font-size: 1rem;
  font-weight: 200;

  border-radius: 0 8px 8px 0;
  margin: 0;

  will-change: transform;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3),
    0 1px 3px rgba(255, 255, 255, 0.4) inset;
}
.modal-already-placed {
  z-index: 1000;
  position: fixed;
  bottom: 200px;
  left: 0;
  right: 0;
  background-color: #f5f5f5;
  color: #363636;

  max-height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 0 8px 8px 0;
  margin: 0;
  will-change: transform;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3),
    0 1px 3px rgba(255, 255, 255, 0.4) inset;
}
.date-text {
  font-size: 12px;
  font-weight: 600;
}
.date-bold {
  font-size: 12px;
  font-weight: 200;
}
.return-message {
  opacity: 0;
  transition: opacity 2s ease-in-out;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 200;
  margin-bottom: 60px;
  height: 32px;
  color: #cc4848;
}
.fading {
  opacity: 1;
}
.project-by {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 0;
}
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.priority-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-right: 15px;
}
.modal-insights {
  z-index: 1000;
  position: fixed;
  bottom: 200px;
  left: 0;
  right: 0;
  background-color: #272727;
  color: #f5f5f5;

  max-height: 200px;
  display: flex;
  flex-direction: column;
  margin-top: 0px;

  padding-bottom: 10px;
  padding-top: 10px;

  margin: 0;
  will-change: transform;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3),
    0 1px 3px rgba(255, 255, 255, 0.4) inset;
  opacity: 1;
  transition: opacity 2s ease-in-out;
}
.share-guidance-modal {
  z-index: 1000;
  position: fixed;
  bottom: 50px;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #272727;
  color: #f5f5f5;

  height: 220px;
  margin-bottom: 200px;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3),
    0 1px 3px rgba(255, 255, 255, 0.4) inset;
  opacity: 1;
  transition: opacity 2s ease-in-out;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
select {
  width: 200px;
  align-self: center;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  background-color: #f5f5f5;
  color: #272727;
  border-radius: 8px;
}
.save-guidance-button {
  margin-top: 30px;
  align-self: center;
  background-color: #f5f5f5;
  color: #272727;
  font-size: 1.1rem;
  font-weight: 400;
  width: 60px;
  height: 45px;
  text-align: center;
}
.insight-message {
  margin-bottom: 20px;
  text-align: center;
  font-size: 0.9rem;
  width: 300px;
}
.message-small {
  font-weight: 200;
}
.modal-container-text {
  font-size: 1rem;

  display: flex;
  justify-content: space-around;
}
.date-message-wrap {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.close-modal {
  background-color: #f5f5f5;
  color: #272727;
  font-size: 0.8rem;
  width: 45px;
  height: 45px;
}
.modal-insights.fade-out {
  opacity: 0;
  pointer-events: none;
}
.reset-button {
  margin-top: 20px;
  font-size: 1.2rem;
  height: 45px;
  width: 60px;
  font-weight: 400;
  font-family: "Jost", sans-serif;
  background-color: #cc4848;
  margin-bottom: 50px;
}
.icon {
  height: 17px;
}
@media (min-width: 550px) {
  html,
  body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;

    background: url("./assets/background-700.png") no-repeat center center;
    background-size: cover;
    background-position: top center;
    font-family: "Jost", sans-serif;
    padding: 0;
    margin: 0;
  }
  .grid-reflection-1,
  .grid-reflection-2,
  .grid-reflection-3 {
    padding: 80px;
  }
  .logo {
    width: 250px;
  }
  .take-a-moment {
    font-size: 1.1rem;
  }
  .button {
    width: 130px;
    height: 55px;
    font-size: 0.9rem;
  }
  .button-section {
    grid-template-columns: repeat(3, 150px);
    gap: 30px;
    row-gap: 30px;
  }
  .random-button {
    width: 120px;
    height: 50px;
    font-size: 0.8rem;
    margin-left: 10px;
    padding: 5px;
    padding-bottom: 5px;
  }
  .amount-selected-text {
    align-self: start;
    font-size: 1rem;
    padding-left: 60px;
  }
  .progress-selection {
    width: 160px;
    height: 15px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3),
      0 1px 3px rgba(255, 255, 255, 0.4) inset;
    margin-top: 5px;
    border: none;
    background-color: #f5f5f5;
    color: #cc4848;
    align-self: flex-end;
    justify-self: flex-start;
    margin-left: 55px;
  }

  .second-section-title {
    font-size: 1.2rem;
  }
  .reflections-pop {
    font-size: 1.6rem;
  }
  .reflections-pop-expects {
    font-size: 1.6rem;
  }
  .progress-main {
    width: 180px;
  }
  .drop-box {
    width: 130px;
  }
  .button-grid-box-2 {
    grid-template-columns: 130px;
  }
  .section-status-1,
  .section-status-2,
  .section-status-3 {
    font-size: 1rem;
  }
  .insight-buttons-container {
    font-size: 1rem;
  }
  .insight-buttons {
    width: 70px;
    height: 60px;
  }
  .reset-button {
    font-size: 1.4rem;
    height: 55px;
    width: 80px;
  }
  .insight-message {
    font-size: 1.1rem;
    width: 500px;
  }
  .date-text {
    font-size: 0.8rem;
  }
  .date-bold {
    font-size: 0.8rem;
  }
  .close-modal,
  .save-guidance-button {
    width: 80px;
    height: 50px;
    font-size: 1rem;
  }
  .share-title {
    width: 500px;
    font-size: 1.1rem;
  }
  .share-guidance-modal {
    font-size: 1.1rem;
  }
  .thanks-text-1 {
    width: 500px;
    font-size: 1rem;
  }
  .thanks-text {
    font-size: 1rem;
  }
  .modal-already-read {
    font-size: 1rem;
  }
  .user-modal-buttons {
    z-index: 1000;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(39, 39, 39, 0.9);

    height: 90px;
    width: 800px;
    border-radius: 8px;
    justify-self: center;
    display: flex;
    justify-content: space-around;
    padding: 10px;

    will-change: transform;
    padding-left: 0px;
    padding-right: 20px;
  }
  .icon {
    height: 20px;
  }
  .down-arrow {
    margin-top: 40px;
    width: 40px;
  }
  .down-stop {
    margin-top: 40px;
    width: 40px;
  }
}
@media (min-width: 1000px) {
  html,
  body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;

    background: url("./assets/background-1200.png") no-repeat center center;
    background-size: cover;
    background-position: top center;
    font-family: "Jost", sans-serif;
    padding: 0;
    margin: 0;
  }
  .grid-reflection-1,
  .grid-reflection-2,
  .grid-reflection-3 {
    padding: 150px;
  }
  .button {
    display: grid;
    grid-template-columns: 40px 110px;

    align-items: center;
  }
  .button-label {
    justify-self: start;
  }
  .icon {
    justify-self: center;
    align-self: center;
    margin-bottom: 8px;
  }
  .logo {
    width: 250px;
  }
  .take-a-moment {
    font-size: 1.1rem;
  }
  .button {
    width: 150px;
    height: 65px;
    font-size: 1rem;
  }
  .button-section {
    grid-template-columns: repeat(3, 180px);
    gap: 50px;
    row-gap: 50px;
  }
  .random-button {
    width: 150px;
    height: 60px;
    font-size: 0.9rem;
  }
  .amount-selected-text {
    align-self: start;
    font-size: 1.2rem;
    padding-left: 60px;
  }
  .progress-selection {
    width: 190px;
  }
  select {
    width: 300px;

    font-size: 1.3rem;
  }
  .second-section-title {
    font-size: 1.6rem;
  }
  .reflections-pop {
    font-size: 1.8rem;
  }
  .reflections-pop-expects {
    font-size: 1.8rem;
  }
  .progress-main {
    width: 230px;
    height: 30px;
  }

  .button-grid-box {
    width: 150px;
    height: 70px;
  }
  .drop-box {
    width: 150px;
    height: 70px;
  }
  .drop-box-text {
    width: 150px;
    height: 70px;
  }
  .button-grid-box-2 {
    grid-template-columns: 150px;
  }
  .section-status-1,
  .section-status-2,
  .section-status-3 {
    font-size: 1.3rem;
  }
  .insight-buttons-container {
    font-size: 1.3rem;
  }
  .insight-buttons {
    width: 120px;
    height: 80px;
  }
  .return-message {
    font-size: 1.7rem;
  }
  .message-square-icon {
    height: 50px;
  }
  .icon {
    height: 30px;
  }
  .insight-section {
    gap: 120px;
  }
  .reset-button {
    font-size: 1.6rem;
    height: 70px;
    width: 100px;
  }
  .insight-message {
    font-size: 1.3rem;
    width: 900px;
  }
  .date-text {
    font-size: 1rem;
  }
  .date-bold {
    font-size: 1rem;
  }
  .close-modal,
  .save-guidance-button {
    width: 100px;
    height: 60px;
    font-size: 1rem;
  }
  .share-title {
    width: 700px;
    font-size: 1.3rem;
  }
  .share-guidance-modal {
    font-size: 1.3rem;
    width: 800px;
    align-self: center;
    justify-self: center;
    border-radius: 8px;
  }

  .thanks-text-1 {
    width: 800px;
    font-size: 1.4rem;
  }
  .thanks-text {
    font-size: 1.4rem;
  }
  .modal-already-read {
    font-size: 1.3rem;
  }
  .user-modal-buttons {
    z-index: 1000;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(39, 39, 39, 0.9);

    height: 115px;
    width: 800px;
    border-radius: 8px;
    justify-self: center;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 10px;

    will-change: transform;
    padding-left: 0px;
    padding-right: 20px;
  }
  .button-grid-box,
  .button-grid-box-2 {
    row-gap: 50px;
  }
  .tap-info {
    font-size: 1.3rem;
  }
  .down-arrow {
    margin-top: 40px;
    width: 50px;
  }
  .down-stop {
    margin-top: 40px;
    width: 50px;
  }
}
@media (min-width: 1500px) {
  html,
  body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;

    background: url("./assets/background-1600.png") no-repeat center center;
    background-size: cover;
    background-position: top center;
    font-family: "Jost", sans-serif;
    padding: 0;
    margin: 0;
  }
  .grid-reflection-1,
  .grid-reflection-2,
  .grid-reflection-3 {
    padding: 350px;
  }
  .button {
    display: grid;
    grid-template-columns: 40px 110px;

    align-items: center;
  }
  .button-label {
    justify-self: start;
  }
  .icon {
    justify-self: center;
    align-self: center;
    margin-bottom: 8px;
  }
  .logo {
    width: 250px;
  }
  .take-a-moment {
    font-size: 1.1rem;
  }
  .button {
    width: 150px;
    height: 65px;
    font-size: 1rem;
  }
  .button-section {
    grid-template-columns: repeat(3, 200px);
    gap: 150px;
    row-gap: 50px;
  }
  .random-button {
    width: 150px;
    height: 60px;
    font-size: 0.9rem;
  }
  .amount-selected-text {
    align-self: start;
    font-size: 1.2rem;
    padding-left: 60px;
  }
  .progress-selection {
    width: 190px;
  }
  select {
    width: 300px;

    font-size: 1.3rem;
  }
  .second-section-title {
    font-size: 1.6rem;
  }
  .reflections-pop {
    font-size: 1.8rem;
  }
  .reflections-pop-expects {
    font-size: 1.8rem;
  }
  .progress-main {
    width: 230px;
    height: 30px;
  }

  .button-grid-box {
    width: 150px;
    height: 70px;
  }
  .drop-box {
    width: 150px;
    height: 70px;
  }
  .drop-box-text {
    width: 150px;
    height: 70px;
  }
  .button-grid-box-2 {
    grid-template-columns: 150px;
  }
  .section-status-1,
  .section-status-2,
  .section-status-3 {
    font-size: 1.3rem;
  }
  .insight-buttons-container {
    font-size: 1.3rem;
  }
  .insight-buttons {
    width: 120px;
    height: 80px;
  }
  .return-message {
    font-size: 1.7rem;
  }
  .message-square-icon {
    height: 50px;
  }
  .icon {
    height: 30px;
  }
  .insight-section {
    gap: 120px;
  }
  .reset-button {
    font-size: 1.6rem;
    height: 70px;
    width: 100px;
  }
  .insight-message {
    font-size: 1.3rem;
    width: 900px;
  }
  .date-text {
    font-size: 1rem;
  }
  .date-bold {
    font-size: 1rem;
  }
  .close-modal,
  .save-guidance-button {
    width: 100px;
    height: 60px;
    font-size: 1rem;
  }
  .share-title {
    width: 700px;
    font-size: 1.3rem;
  }
  .share-guidance-modal {
    font-size: 1.3rem;
    width: 800px;
    align-self: center;
    justify-self: center;
    border-radius: 8px;
  }

  .thanks-text-1 {
    width: 800px;
    font-size: 1.4rem;
  }
  .thanks-text {
    font-size: 1.4rem;
  }
  .modal-already-read {
    font-size: 1.3rem;
  }
  .user-modal-buttons {
    z-index: 1000;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(39, 39, 39, 0.9);

    width: 700px;
    align-self: center;
    justify-self: center;
    border-radius: 8px;
    height: 120px;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-bottom: 10px;

    will-change: transform;
    padding-left: 0px;
    padding-right: 0px;
  }
  .down-arrow {
    margin-top: 40px;
    width: 70px;
  }
  .down-stop {
    margin-top: 40px;
    width: 70px;
  }
  .button-grid-box,
  .button-grid-box-2 {
    row-gap: 50px;
  }
  .tap-info {
    font-size: 1.3rem;
  }
}
